.search-container {
  position: relative;
  display: inline-block;

  input[type='text'] {
    padding-left: 30px;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #ccc;
  }
}
